
.header {
    line-height: 40px;
    font-size: 30px;
    font-family: 'Open Sans', arial, sans-serif;
    height: auto;
    overflow: hidden;
}

header {
    border-bottom: 1px solid gray;
}

h1 {
    color: #222222;
    font-weight: normal;
}

#news-template-content {
    padding : 2% 0% 2% 0%;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#news-template-content .news-template-content-image {
    float: left;
    max-height:200px;
    height: auto;
    max-width: 300px;
    margin-right: 2%;
    padding-top: 0.5%;
    margin-bottom: 1%;
}

#news-template-content p {
    line-height: 24px;
    text-align: left;
    font-size: 12pt;
    font-weight: normal;
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 0;
}

