#news-article {
    margin-top: 50px;
}

#small-news-article-photo {
    display: none;
}

.feature {
    display: block;
    width: 100%;
    margin: 0;
}

.author {
    font-style: italic;
    line-height: 1.3;
    color: #aab6aa;
}

.blog-stripe .block-title {
    background: black;
    width: 100%;
    color: white;
    height: 100px;
    padding-top: 20px;
}

.all-blogs .media {
    margin-left: -40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCCCCC;
}

@media only screen and (max-width: 550px) {
    #big-news-article-photo {
        display: none;
    }
    #small-news-article-photo {
        display: inline;
    }
}