@media only screen and (max-width: 767px) {
    #Marketing {
        margin-top: 70px;
    }
}

.navbar-wrapper {
    background-color:rgba(255,255,255,0.50) !important;
}

#navigation {
    margin-bottom: 50px;
}

.navbar-brand {
    padding-top: 0px;
    padding-left: 10px;
}

#slider-text-black {
    color: #333333;
}

.marketing {
    margin-top: 20px;
}